ภูริ พุ่มจิตร 660710251

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
import re

ดึงข้อมูลจาก dataset

In [3]:
df =pd.read_csv('student.csv')

แสดงตัวอย่างข้อมูลก่อนทำความสะอาด

In [4]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

copy จาก dataset หลักมาไว้ใน df_clean

In [5]:
df_clean = df.copy()

ลบช่องว่างและทำให้เป็นมาตรฐาน

In [6]:
df_clean.columns = df_clean.columns.str.strip()

แก้ไขค่า GPA ที่ผิดปกติโดยกำหนดให้ GPA มากกว่า 0 แต่น้อยกว่า 4

In [7]:
df_clean.loc[df_clean['GPA'] < 0, 'GPA'] = np.nan  # Remove negative GPA
df_clean.loc[df_clean['GPA'] > 4.0, 'GPA'] = 4.0   # Cap at 4.0

แก้ไขค่า อายุ ที่ผิดปกติโดยกำหนดให้ อายุ นั้นมากกว่า 17 แต่น้อยกว่า 30

In [8]:
df_clean.loc[df_clean['อายุ'] > 30, 'อายุ'] = np.nan  # Remove unrealistic age (150)
df_clean.loc[df_clean['อายุ'] < 17, 'อายุ'] = np.nan

แก้ไขค่า ส่วนสูง ที่ผิดปกติโดยกำหนดให้ ส่วนสูง นั้นมากกว่า 140 แต่น้อยกว่า 200

In [9]:
df_clean.loc[df_clean['ส่วนสูง_cm'] < 140, 'ส่วนสูง_cm'] = np.nan
df_clean.loc[df_clean['ส่วนสูง_cm'] > 200, 'ส่วนสูง_cm'] = np.nan

แก้ไขค่า น้ำหนัก ที่ผิดปกติโดยกำหนดให้ น้ำหนัก นั้นมากกว่า 35 แต่น้อยกว่า 120

In [10]:
df_clean.loc[df_clean['น้ำหนัก_kg'] < 35, 'น้ำหนัก_kg'] = np.nan
df_clean.loc[df_clean['น้ำหนัก_kg'] > 120, 'น้ำหนัก_kg'] = np.nan

แก้ไขค่า ชั่วโมงเรียน ต่อสัปดาห์ ที่ผิดปกติโดยกำหนดให้ ชั่วโมงเรียน ต่อสัปดาห์ นั้นมากกว่า 5 แต่น้อยกว่า 40

In [11]:
df_clean.loc[df_clean['ชั่วโมงเรียน_ต่อสัปดาห์'] < 5, 'ชั่วโมงเรียน_ต่อสัปดาห์'] = np.nan
df_clean.loc[df_clean['ชั่วโมงเรียน_ต่อสัปดาห์'] > 40, 'ชั่วโมงเรียน_ต่อสัปดาห์'] = np.nan

เปลี่ยนเพศที่มีคำแตกต่างออกไปให้มีคำว่า ชายและหญิง เหมือนกัน

In [12]:
# แปลงเพศให้เป็นมาตรฐาน
gender_mapping = {
        'ชาย': 'ชาย',
        'หญิง': 'หญิง',
        'ญ': 'หญิง',
        'ช': 'ชาย',
        'M': 'ชาย',
        'F': 'หญิง',
        'Male': 'ชาย',
        'Female': 'หญิง'
    }

df_clean['เพศ'] = df_clean['เพศ'].map(gender_mapping)

เปลี่ยนคณะให้มีคำพื้นฐานเหมือนกัน

In [13]:
# แปลงคณะให้เป็นมาตรฐาน
faculty_mapping = {
        'วิทยาศาสตร์': 'Science',
        'วิทย์': 'Science',
        'Science': 'Science',
        'Sci': 'Science',
        'คณะวิทยาศาสตร์': 'Science',
        'วิศวะ': 'Engineering',
        'วิศวกรรม': 'Engineering',
        'วิศวฯ': 'Engineering',
        'วิศวกรรมศาสตร์': 'Engineering',
        'Engineering': 'Engineering',
        'ศิลปศาสตร์': 'Liberal Arts',
        'ศิลป์': 'Liberal Arts',
        'Arts': 'Liberal Arts',
        'Liberal Arts': 'Liberal Arts'
    }

df_clean['คณะ'] = df_clean['คณะ'].map(faculty_mapping)

แทนที่ missing values ด้วย mode

In [14]:
for col in ['เพศ', 'คณะ']:
    df_clean[col].fillna(df_clean[col].mode()[0], inplace=True)

แทนที่ missing values ด้วย mean

In [15]:
for col in [ 'อายุ', 'GPA', 'ส่วนสูง_cm', 'น้ำหนัก_kg', 'ชั่วโมงเรียน_ต่อสัปดาห์']:
    df_clean[col] = df_clean[col].fillna(df_clean[col].mean())
df_clean['อายุ'] = df_clean['อายุ'].astype(np.double)

เปลี่ยนชื่อที่เป็น NaN ให้เป็น ไม่ระบุชื่อ

In [16]:
df_clean['ชื่อ'] = df_clean['ชื่อ'].fillna('ไม่ระบุชื่อ')

บันทึก dataset ให้เป็นไฟล์ student_cleaned.csv

In [17]:
# Save cleaned dataset
df.to_csv("student_cleaned.csv", index=False)

แสดงตัวอย่างข้อมูลที่ทำความสะอาดแล้ว

In [18]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000,ชาย,Science,3.210000,170.000000,65.000000,15.000000,2024-01-23
1,64002,สมหญิง,21.000,หญิง,Science,3.450000,165.000000,58.000000,20.000000,2024-02-05
2,64003,ไม่ระบุชื่อ,20.875,ชาย,Science,3.670000,175.000000,63.611111,25.000000,2024-01-13
3,64004,สมศักดิ์,22.000,ชาย,Science,3.466471,168.000000,70.000000,10.000000,2023-12-30
4,64005,สมใจ,19.000,หญิง,Engineering,3.890000,160.000000,52.000000,30.000000,2024-01-27
5,64006,กานต์,20.875,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2023-12-23
6,64007,กิตติ,21.000,หญิง,Engineering,4.000000,158.000000,48.000000,35.000000,2024-01-05
7,64008,จิรา,20.000,หญิง,Liberal Arts,2.980000,180.000000,82.000000,18.000000,2024-01-23
8,64009,ชนาธิป,23.000,ชาย,Liberal Arts,3.340000,163.000000,55.000000,22.000000,2024-02-11
9,64010,ดารา,21.000,หญิง,Liberal Arts,3.560000,167.000000,60.000000,28.000000,2024-01-03
10,64011,ธีระ,20.875,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-07
11,64012,นภา,22.000,ชาย,Science,3.466471,171.000000,63.611111,16.000000,2023-12-26
12,64013,บุญมี,20.000,หญิง,Engineering,3.230000,169.000000,72.000000,24.000000,2023-12-26
13,64014,ปรีชา,21.000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-08
14,64015,พิมพ์,22.000,หญิง,Science,3.670000,162.000000,56.000000,26.000000,2024-02-06
15,64016,ภูมิ,19.000,ชาย,Science,3.890000,173.000000,78.000000,14.000000,2024-01-20
16,64017,มานี,20.000,หญิง,Engineering,3.010000,166.000000,62.000000,21.000000,2024-01-24
17,64018,ยุพา,21.000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2024-01-08
18,64019,รัตนา,20.875,ชาย,Liberal Arts,3.466471,174.000000,76.000000,21.388889,2023-12-18
19,64020,ลัดดา,22.000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-01-06